body {
    background: white;
}

input, label, button {
    font-family: Arial, sans-serif;
    font-weight: 500;
    margin: auto;
    padding: 20px;
    color: black;
    border-radius: 10px;
}

p {
    color: black;
    font-family: Arial, sans-serif;
    font-size: small;
}

div {
    color: black;
    border-radius: 10px;
}