body {
    background: white;
}

footer {
    margin-left: 650px;
    margin-top: 300px;
}

input, label, button {
    font-family: Arial, sans-serif;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    color: black;
    border-radius: 5px;
    border-color: black;
}

p {
    color: black;
    font-family: Arial, sans-serif;
    font-size: small;
}

div {
    color: black;
    border-radius: 10px;
}

h1, h2 {
    font-family: Arial, sans-serif;
}

